body {
    background-color: #09192c;
}

.gifs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.gif {
    padding: 3px;
    cursor: pointer;
}

.loader {
    color: #5c9ae0;
}